server/.env
server/env.bat
server/.venv
server/__pycache__
server/Pocketsmith/__pycache__/*
server/authentication/__pycache__/*
server/expenses/__pycache__/*
server/usergroups/__pycache__/*
server/userprofile/__pycache__/*
server/static/*

client/*
# Logs
client/logs
client/*.log
client/npm-debug.log*
client/yarn-debug.log*
client/yarn-error.log*
client/pnpm-debug.log*
client/lerna-debug.log*

client/node_modules
client/dist
client/dist-ssr
client/*.local

# Editor directories and files
startServer.bat
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?