.card{
    padding: 5px;
    overflow: hidden;
    transition: transform 500ms ease;
}
.card:hover,
.card:focus-within {
  transform: scale(1.06);
  border-color: black;

}
.cardGrid{
    width:100%;
    display: flex;
}

.cardAvatar{
    max-width:75px;
}

.cardDetails{
    display: flex;
    flex-direction: column !important;
    align-items: flex-start;
    flex-grow: 1;
    padding-left:10px;
}

.cardName{
    margin-bottom: 2px!important;
}

.cardAmount{
    display: flex;
    flex-direction: column !important;
    justify-content: center;
    padding-right: 10px;
}

@media (max-width: 600px) {
    .cardAvatar{
        display: flex;
        max-width:60px;
    }
    
}